.container {
  max-width: 1200px;
  margin: 100px auto;
}

/* Content */
.section-welcome {
  position: relative;
  width: 100%;
  height: 313px;
  background-color: #FAFAFA;
}

.content-welcome {
  max-width: 600px;
  position: relative;
  left: 101px;
  top: 56px;
}

.content-welcome h1 {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 8px;
}

.content-welcome p {
  font-size: 16px;
  margin-bottom: 24px;
  color: var(--gray);
}

.content-welcome h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

/* Img */
.img-welcome {
  position: absolute;
  left: 783px;
  top: 0;
  background-color: #fff;
}

.img-welcome img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Icons */
.icon-red {
  position: relative;
  top: -257px;
  left: -25px;
  z-index: 2;
}

.icon-eclipse {
  position: relative;
  top: -185px;
  left: 689px;
  z-index: 2;
}

.icon-white {
  position: relative;
  top: -10px;
  left: 750px;
  z-index: 2;
}

.icon-blue {
  position: relative;
  top: 60px;
  left: 1080px;
  z-index: 2;
}

.p-main {
  margin-top: 17px;
  font-size: 14px;
  color: var(--gray);
}