import React from 'react';
import * as Styled from './styles';

const {{pascalCase name}} = () => (
  <Styled.Wrapper>
    <h1>{{pascalCase name}}</h1>
  </Styled.Wrapper>
);

export default {{pascalCase name}};